@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";


@theme {
  --font-header: "Fjalla One", sans-serif;
  --font-paragraph:  "Outfit", sans-serif;

   --color-radius: 0.65rem;
   --color-background:  oklch(1 0 0);
   --color-foreground:  oklch(0.141 0.005 285.823);
   --color-card:  oklch(1 0 0);
   --color-card-foreground:  oklch(0.141 0.005 285.823);
   --color-popover:  oklch(1 0 0);
   --color-popover-foreground:  oklch(0.141 0.005 285.823);
   --color-primary:  oklch(0.488 0.243 264.376);
   --color-primary-foreground:  oklch(0.97 0.014 254.604);
   --color-secondary:  oklch(0.967 0.001 286.375);
   --color-secondary-foreground:  oklch(0.21 0.006 285.885);
   --color-muted:  oklch(0.967 0.001 286.375);
   --color-muted-foreground:  oklch(0.552 0.016 285.938);
   --color-accent:  oklch(0.967 0.001 286.375);
   --color-accent-foreground:  oklch(0.21 0.006 285.885);
   --color-destructive:  oklch(0.577 0.245 27.325);
   --color-border:  oklch(0.92 0.004 286.32);
   --color-input:  oklch(0.92 0.004 286.32);
   --color-ring:  oklch(0.708 0 0);
   --color-chart-1:  oklch(0.809 0.105 251.813);
   --color-chart-2:  oklch(0.623 0.214 259.815);
   --color-chart-3:  oklch(0.546 0.245 262.881);
   --color-chart-4:  oklch(0.488 0.243 264.376);
   --color-chart-5:  oklch(0.424 0.199 265.638);
   --color-sidebar:  oklch(0.985 0 0);
   --color-sidebar-foreground:  oklch(0.141 0.005 285.823);
   --color-sidebar-primary:  oklch(0.546 0.245 262.881);
   --color-sidebar-primary-foreground:  oklch(0.97 0.014 254.604);
   --color-sidebar-accent:  oklch(0.967 0.001 286.375);
   --color-sidebar-accent-foreground:  oklch(0.21 0.006 285.885);
   --color-sidebar-border:  oklch(0.92 0.004 286.32);
   --color-sidebar-ring:  oklch(0.708 0 0);
}