name: Deploy backend service to Render

on:
  push:
    branches:
      - main
    paths:
      - "server/**"


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render BE Deployment
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          curl "$deploy_url"