name: Deploy backend service to Render

on:
  push:
    branches:
      - main
    paths:
      - "server/**"
  workflow_dispatch: 

jobs:
  run_tests:
  name: Run Backend Tests
  runs-on: ubuntu-latest

  steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.13"

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Create virtual environment
      run: |
        cd server
        uv venv

    - name: Install dependencies
      run: |
        cd server
        source .venv/bin/activate
        uv pip install -r requirements.txt

    - name: Run tests
      run: |
        cd server
        source .venv/bin/activate
        pytest --cov=app


      
  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    needs: run_tests
    steps:
      - name: Trigger Render BE Deployment
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          curl "$deploy_url"