name: Deploy backend service to Render

on:
  push:
    branches:
      - main
    paths:
      - "server/**"


jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Run Backend Tests

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      
      - name: Python setup
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install uv
        uses: astral-sh/setup-uv@v7


      - name: Install Dependencies
        run: | 
          cd server 
          uv pip install -r requirements.txt

      - name: Running Tests
        run: |
          cd server
          pytest --cov=app

      
  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    needs: run_tests
    steps:
      - name: Trigger Render BE Deployment
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          curl "$deploy_url"